@font-face {
    font-family: 'captureit ';
    src: url(../font/captureit.ttf);
}

.main-text {
   position: absolute;
   bottom: 100px;
   right: 100px;
 }

.captureit {
    font-family: captureit;
}